[Unit]
Description=Ryzen 7730U SILENT GAMING 9W 2.9GHz GPU 1100MHz T70 - manual (just ryzen-silent-gaming)
After=multi-user.target
Requires=ryzen_smu_loader.service
After=ryzen_smu_loader.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ryzen-profiles silent-gaming
RemainAfterExit=no
