# Creates the sddm user before SDDM runs.
# See:
# 	- https://github.com/ublue-os/main/issues/224
# 	- https://github.com/wayblueorg/wayblue (sddm-boot.service)

[Unit]
Description=Create SDDM user on system boot
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /usr/etc/sddm/sddm-useradd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target